<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/books.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>

<nav class="navbar" role="navigation"  aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:8080">
      <img id = "homePage" src="/assets/images/Nozamalogo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Documentation
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Categories
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item categoryBtn">
            Comedy
          </a>
          <a class="navbar-item categoryBtn">
            Drama
          </a>
          <a class="navbar-item categoryBtn">
            Mystery
          </a>
          <a class="navbar-item categoryBtn">
            Philosophy
          </a>
          <a class="navbar-item categoryBtn">
            Poetry
          </a>
          <a class="navbar-item categoryBtn">
            Romance
          </a>
          <a class="navbar-item categoryBtn">
            Sci-fi&Fantasy
          </a>
          <a class="navbar-item categoryBtn">
            Text-book
          </a>
          </div>
          </div>

      <div class="field has-addons" id="bookLookup">
                <div class="control">
                  <input id = "searchBar" class="input" type="text" placeholder="Find a book . .">
                </div>
                <div class="control">
                  <input id = "searchBtn" class="button" type="submit" value="Search">
                </div>
      </div>
      
          <hr class="navbar-divider">
          

          <span class="icon has-text-info">
		<button id = "cart" class="btn has-text-white is-small"><i class="fas fa-shopping-bag"></i></button>
	</span>


        </div>
      </div>
    </div>


<div class="level-right">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


 	{{{ body }}} 
</html>
