{{!--Author of the book--}}
<p>Author</p>
<br>
{{!--Title of the book--}}
<p>Title</p>
<br>

{{!--Category of the book--}}
<p>Genre</p>
<br>

{{!--Published year of the book--}}
<p>Year published</p>
<br>

{{!--Price of the book--}}
<p>Price</p>
<br>

{{!--Reviews of the book--}}
<p>Reivews</p>
<br>




