<p>Your tome of choice!</p>


{{!--this is the div where the cover for the book will be placed--}}
<div class="bookcoverimg"></div>


<br>
<br>
<br>
<br>

{{!-- price of the book--}}
<p>Price</p>

<br>
<br>
<br>
<br>



