body,html,.navbar {
    background-image: url("/public/books.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

.navbar-item:hover {
    background-color: black;
}



